.MuiGrid-container	{
    width: 50%;
    padding:15px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f4f7;  
    
    color: rgba(0, 0, 0, 0.56);
}

.footer > *{
    font-size: 12px; 
    
}